*{
  box-sizing: border-box;
}

body{
  background: black;
  color: white;
  /* background: linear-gradient(230.84deg, #206F49 17.76%, #181433 122.7%); */
  /* background-repeat: no-repeat; */
  /* background-size:cover; */
  /* height: 100%; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero--page{
  text-align: center;
  margin-top: 250px;
}

.hero--text{
  font-family: 'Climate Crisis', cursive;
  letter-spacing: 2px;
  font-size: 60px;
}